/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;

}
 /*remove the margin in all browsers*/
body{
    margin: 0;
}

/*render the main  lement consistently in ie*/
 main {
     display: block;
 }

 /*correct the font size and margin on h1 element within section and article
  contexts in chrome. firefox and safari*/

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/*grouping content*/

/*1 add the correct box sizing in firefox*/
/*2.show the overflow in edge an ie  */


hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;

}

/*1.correct the inharitace and sacling of font size in all browsers*/
/*2.correct the odd em font sizing in all browser*/

pre{
    font-family: monospace ,monospace;
    font-size: 1em;

}


/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}
