/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;

}
 /*remove the margin in all browsers*/
body{
    margin: 0;
}

/*render the main  lement consistently in ie*/
 main {
     display: block;
 }

 /*correct the font size and margin on h1 element within section and article
  contexts in chrome. firefox and safari*/

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}